.headerMenu li {
  margin: 0 10px;
  cursor: pointer;
}

.BannerMainImg {
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
}

.BannerThreeImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 6rem;
  right: 0.1rem;
}

.BannerSecoundImg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  bottom: 14rem;
  right: 0.5rem;
}

.search {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .search {
    width: 120%;
    position: absolute;
    bottom: 6rem;
    z-index: 1;
  }
}

.serviceCalenderImg {
  position: absolute;
  bottom: 3rem;
  right: 3.1rem;
}

.sulutionImgScrollView {
  overflow-x: scroll;
  display: flex;
}

.sulutionImgScrollView::-webkit-scrollbar {
  display: none;
}

.sulutionImgScrollView {
  -ms-overflow-style: none;
  scrollbar-width: none;
}